<div class="row patient">
  <div class="row">

    <div class="span2 risk-level">
      <div class="radio-group">
        <%= radio_button_tag "#{patient.hospno}_risk_level", 'high' %>
        <%= label_tag "High" %>
      </div>
      <div class="radio-group">
        <%= radio_button_tag "#{patient.hospno}_risk_level", 'medium' %>
        <%= label_tag "Medium" %>
      </div>
      <div class="radio-group">
        <%= radio_button_tag "#{patient.hospno}_risk_level", 'low', true %>
        <%= label_tag "Low" %>
      </div>
    </div>

    <div class="span2 patient-name">  
      <p>
        <%= patient.firstnames %>
        <br/>
        <%= patient.lastname.capitalize %>
      </p>
      <p>
        Hospital Number
        <br/>
        <%= patient.hospno %>
      </p>
    </div>

    <div class="span2 ward">
      <p>
        <%= patient.current_ward %>
      </p>      
    </div>

    <div class="span2 task-list">
      <% patient.to_do_items.where(:status => "todo").each do |item| %>
        <div>
          <%=check_box_tag "to_do_item_#{item.id}_checked" %> <%= item.description  %>
        </div>
      <% end %>
      <%= button_tag "Add Task" %>
    </div>

  </div>
</div>
