<div class="list-item patient full">
    <div class="risk-level">
      <div class="radio-group">
        <%= radio_button_tag "#{patient.hospno}_risk_level", 'high' %>
        <%= label_tag "High" %>
      </div>
      <div class="radio-group">
        <%= radio_button_tag "#{patient.hospno}_risk_level", 'medium' %>
        <%= label_tag "Medium" %>
      </div>
      <div class="radio-group">
        <%= radio_button_tag "#{patient.hospno}_risk_level", 'low', true %>
        <%= label_tag "Low" %>
      </div>
    </div>

    <div class="patient-name">  
      <p>
        <%= patient.firstnames %> <%= patient.lastname.capitalize %>
      </p>
      <hr/>
      <p>
        Hospital Number
        <br/>
        <%= patient.hospno %>
      </p>
      <hr/>
      <p>
        <%= form_tag membership_path, :method => :delete do %>
          <%= hidden_field_tag :patient_id, patient.id %>
          <%= hidden_field_tag :patient_list_id, patient_list.id %>
          <%= submit_tag "Remove from list" %>
        <% end %>
      </p>
    </div>

    <div class="ward">
      <p>
        <%= patient.current_ward %>
      </p>      
    </div>

    <div class="task-list">
        <%= form_tag handover_path do %> 
          <% patient_list.to_do_items.where(:status => "todo", :patient_id => patient.id).each do |item| %>
            <div>
              <%= check_box_tag "to_do_items[#{item.id}]checked" %> 
              <%= label_tag item.description %>
            </div>
          <% end %>
        <% end %> 

        <p>
          <%= simple_form_for ToDoItem.new do |form| %>
            <%= form.hidden_field :patient_id, :value => patient.id %>
            <%= form.hidden_field :patient_list_id, :value => patient_list.id %>
            <%= form.input :description, :label => false  %>
            <%= submit_tag "Add Task" %>
          <% end %>
        </p>
        <br/>
        <%= link_to "Handover tasks", new_handover_path %>
    
      <!-- <%= submit_tag "Mark Selected Tasks Completed" %> -->
    </div>
</div>
