<div class="list-item patient full">
  <div class="inner">
    <% membership = patient.memberships.where(:patient_list_id => patient_list.id).first %>
    <div class="risk-level">
        <%= simple_form_for membership, :method => :put, :remote => true do |form|  %>
          <!-- Submitted using javascript -->
          <%= form.input :risk_level, :collection => ["high","medium","low"], :as => :radio_buttons, :label => false %>
        <% end %>
    </div>

    <div class="patient-details">
      <%= form_tag membership_path, :method => :delete do %>
        <p><%= patient.firstnames %> <%= patient.lastname.capitalize %></p>
        <%= hidden_field_tag :patient_id, patient.id %>
        <%= hidden_field_tag :patient_list_id, patient_list.id %>
        <%= submit_tag "Remove from list" %>
      <% end %>
      <hr/>
      <p>
        Hospital Number
        <br/>
        <%= patient.hospno %>
      </p>
      <hr/>
      <p>
        Ward
        <br/>
        <%= patient.current_ward %>
      </p>
    </div>

    <div class="task-list">
      <%= simple_form_for ToDoItem.new do |form| %>
        <%= form.hidden_field :patient_id, :value => patient.id %>
        <%= form.hidden_field :patient_list_id, :value => patient_list.id %>
        <%= form.input :description, :label => false  %>
        <%= submit_tag "Add Task" %>
      <% end %>

      <div class="todo tasks">
        <h3>To Do</h3>
        <% patient_list.all_items_with_state("todo", patient).each do |item| %>
          <div class="task">
            <%= item.description %>
            <span class="actions">
              <% if item.patient_list == patient_list %>
                <%= button_to 'Pending', pending_to_do_item_path(item), method: :put %>
                <%= button_to 'Done',    done_to_do_item_path(item),    method: :put %>
              <% else %>
                <%= item.patient_list.name %>
              <% end %>
            </span>
          </div>
        <% end %>
      </div>

      <div class="pending tasks">
        <h3>Pending</h3>
        <% patient_list.all_items_with_state("pending", patient).each do |item| %>
          <div class="task">
            <%= item.description %>
            <span class="actions">
              <% if item.patient_list == patient_list %>
                <%= button_to 'Done', done_to_do_item_path(item), method: :put %>
              <% else %>
                <%= item.patient_list.name %>
              <% end %>
            </span>
          </div>
        <% end %>
      </div>

      <div class="done tasks">
        <h3>Done</h3>
        <% patient_list.all_items_with_state("done", patient).each do |item| %>
          <div class="task">
            <%= item.description %>

            <% if item.patient_list != patient_list %>
            <span class="actions">
              <%= item.patient_list.name %>
            </span>
            <% end %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
