<div id="leftbar">
  <h2>Patients</h2>
  <div class="list">
    <% Patient.not_discharged.uniq.each do |patient| %>
      <div class="list-item patient short">
        <%= form_tag memberships_path do %>
           <%= patient.name %> (<%= patient.hospno  %>)
           <%= hidden_field_tag "patient_id", patient.id %>
           <%= hidden_field_tag "membership[patient_list]", patient_list.id %>
           <br/>
           <%= submit_tag "Add to list" %>
        <% end %>
        <%= link_to "View patient history", patient_history_path(patient) %>
      </div>
    <% end %>
  </div>
</div>

<div id="main">

  <h2><%= patient_list.name %></h2>
  <div class="list">
    <%= render :partial => "patient_list",
          :collection => patient_list.patients,
          :as => :patient,
          :locals => {:patient_list => patient_list}
    %>
  </div>

  <%= link_to "Handover to do items", new_list_handover_path(patient_list) %>
</div>
