<div id="leftbar">
  <h2>Patients</h2>
  <div class="list">
    <% Patient.not_discharged.uniq.each do |patient| %>
      <div class="list-item patient short">
        <%= form_tag memberships_path do %>
           <%= patient.name %> (<%= patient.hospno  %>)
           <%= hidden_field_tag "patient_id", patient.id %>
           <%= hidden_field_tag "membership[patient_list]", patient_list.id %>
           <br/>
           <%= submit_tag "Add to list" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div id="main">

  <h2><%= patient_list.name %></h2>
  <div class="list">
    <%= render :partial => "patient_list",
          :collection => patient_list.patients,
          :as => :patient,
          :locals => {:patient_list => patient_list}
    %>
  </div>

  <%= link_to "Handover to do items", new_list_handover_path(patient_list) %>
</div>

<div id="rightbar">
  <h2>Teams</h2>
  <div class="list teams">
    <h2>On Call</h2>
    <% Team.on_call.each do |team| %>
      <div class="list-item">
        <h3><%= team.name %></h3>
      </div>
    <% end %>
  </div>

  <div class="list teams">
    <h2>Day Shift</h2>
    <% Team.day_shift.each do |team| %>
      <div class="list-item">
        <h3><%= team.name %></h3>
      </div>
    <% end %>
  </div>
  <button>Add Team</button>
</div>

