<div id="leftbar">
  <h2>Patients</h2>
  <div class="list">
    <% Patient.not_discharged.each do |patient| %>
      <div class="list-item patient short">
        <%= form_tag memberships_path do %>
           <%= patient.name %>
           <%= hidden_field_tag "patient_id", patient.id %>
           <%= hidden_field_tag "membership[patient_list]", patient_list.id %>  
           <br/>
           <%= submit_tag "Add to list" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div id="main">
  <h2><%= patient_list.name %></h2>
  <div class="list">
    <%= render :partial => "patient_list", 
          :collection => patient_list.patients, 
          :as => :patient, 
          :locals => {:patient_list => patient_list} 
    %>
  </div>
</div>

<div id="rightbar">
  <h2>Teams</h2>
  <div class="list"> 
    <% Team.all.each do |team| %>
      <div class="list-item">
        <p><%= team.name %></p>
      </div>
    <% end %>
    <button>Add Team</button>
  </div>
</div>
