<h2>Handover tasks for list <%= patient_list.name %></h2>

<div class="handover">

  <%= form_tag list_handovers_path(patient_list) do %>

    <% @patients_with_to_do_items.each do |patient, to_do_items| %>

      <div class="handover-patient">
        <h3><%= patient.name %></h3>

        <ul>
        <% to_do_items.each do |item| %>
          <li>
            <%= check_box_tag "to_do_items[]", item.id, nil, id: item.description.parameterize %>
            <%= label_tag item.description.parameterize, item.description %>
          </li>
        <% end %>
        </ul>
      </div>

    <% end %>

    <h3>Select a patient list to hand over the selected tasks to:</h3>

    <div class="select">
      <%= label_tag "to_list", "Patient Lists" %>
      <%= select_tag "to_list", options_from_collection_for_select(@patient_lists, "id", "name") %>
    </div>

    <%= submit_tag "Handover to do items" %>

  <% end %>

</div>
