<div class="page-header">
  <h1>
    Handover tasks
    <small><%= patient_list.name %></small>
  </h1>
</div>

<%= simple_form_for :handover, url: list_handovers_path(patient_list) do |f| %>

  <fieldset>
    <% @patients_with_to_do_items.each do |patient, to_do_items| %>

      <legend><%= patient.name %></legend>

      <% to_do_items.each do |item| %>
        <label class="checkbox">
          <%= check_box_tag "handover[to_do_items][]", item.id, nil, id: item.description.parameterize %>
          <%= item.description %>
        </label>
      <% end %>

    <% end %>

  </fieldset>

  <%= f.input :to_list, collection: @patient_lists %>

  <div class="form-actions">
    <%= f.button :submit, "Hand over to do items", class: "btn-primary" %>
  </div>

<% end %>
