<div class="nav-header"><%= state %></div>

<% patient_list.all_items_with_state(state, patient).each do |item| %>
<div class="patient-task">
  <div class="pull-left">
    <span class="<%= state %>"><%= item.description %></span>
    <% if item.grade %>
      <br />
      <span class="muted">Min. grade: <%= item.grade.title %></span>
    <% end %>
  </div>

  <div class="patient-task-actions span3 pull-right">
    <% if item.patient_list == patient_list %>
      <%= simple_form_for item do |f| %>
        <%= f.input :state, collection: %w(todo pending done), label: false, include_blank: false, input_html: { onchange: 'this.form.submit()' } %>
      <% end %>
      <%= link_to 'Delete item', to_do_item_path(item), class: 'btn btn-mini btn-danger', method: :delete, confirm: 'Are you sure you want to delete this to do item?' %>
    <% else %>
      <span class="muted">Handed over to <%= link_to item.patient_list.name, patient_list_path(item.patient_list) %></span>
    <% end %>
  </div>
</div>
<% end %>
