<% patient_audits.group_by{ |audit| audit.created_at.to_date }.sort.reverse.each do |date, audits| %>
  <thead>
    <tr class="info" >
      <th colspan="3">
        <%= date %>
      </th>
    </tr>
    <tr>
      <th>Action</th>
      <th>Details</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
  <% audits.sort{ |x,y| x.created_at <=> y.created_at }.reverse.each do |audit| %>
    <tr>
      <td>
        <%= audit.action %><br />
        <%= audit.auditable_type %>
      </td>
      <td>
        <% if audit.action == "update" %>
          <% audit.audited_changes.each do |field, changes| %>
            <p>Change <strong><%= field %></strong> from <strong><%= changes[0] %></strong> to <strong><%= changes[1] %></strong></p>
          <% end %>
        <% else %>
          <%= audit.audited_changes %>
        <% end %>
      </td>
      <td><%= audit.created_at.strftime "%l:%I%P" %></td>
    </tr>
  <% end %>
  </tbody>
<% end %>
